@media screen and (min-width:1px) and (max-width:1500px){
    .title_area{padding:60px 0 0 220px ; width:var(--width);height:150px;box-sizing:border-box; display:none;}
    .title_area .main_title{font-size: 45px;font-weight:700;width:var(--width);color:#2B2B2B;}

    .list_main{float:left;width:var(--width);height:var(--frame-height);box-sizing:border-box;}
    .list_main .list_area{display: flex; align-items: center; width:100%; box-sizing: border-box;}
    .list_main .list_area .info_main{position:relative; width:calc((100% / 3) - 70px); min-width:160px; height:235px; background:#fff; text-align: center;}
    .list_main .list_area .info_main .img_main{display: inline-block; box-sizing:border-box; background:#FFFFFF;}
    .list_main .list_area .info_main .img_main .img_zone{display:flex; align-items: center; width:160px;height:170px;}
    .list_main .list_area .info_main .img_main .img_zone img{width:100%; max-width:100px; display:block; margin:0 auto;}
    .list_main .list_area .info_main .txt_main{display: block; box-sizing:border-box; background:#FFFFFF;}
    .list_main .list_area .info_main .txt_main .txt_zone{font-size: 17px; text-align: center; padding-top:6px;}

    .swiper {width: 100%; height: calc(var(--frame-height) - 160px) ; flex-wrap: wrap;}
    .swiper-slide {display: flex; justify-content: center; align-items: flex-start; flex-wrap: wrap; }
    .swiper-slide .slide_box{width:690px; margin:150px 0 100px; display:flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap;  row-gap: 70px; column-gap:105px; text-align: center; font-size: 18px;}
    .swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}    
}

@media screen and (min-width:1500px){
    .title_area{padding:60px 0 0 220px ; width:1920px;height:150px;box-sizing:border-box; display:none;}
    .title_area .main_title{font-size: 45px;font-weight:700;width:1920px;color:#2B2B2B;}
    
    .list_main{float:left;width:1920px;height:940px;box-sizing:border-box;}
    .list_main .list_area{display: flex; align-items: center;}
    .list_main .list_area .info_main{position:relative; width:calc((100% / 6) - 60px); min-width:160px; height:235px; background:#fff; text-align: center;}
    .list_main .list_area .info_main .img_main{display: inline-block; box-sizing:border-box; background:#FFFFFF;}
    .list_main .list_area .info_main .img_main .img_zone{display:flex; align-items: center; width:160px;height:170px;}
    .list_main .list_area .info_main .img_main .img_zone img{width:100%; max-width:100px; max-height: 100px;; display:block; margin:0 auto;}
    .list_main .list_area .info_main .txt_main{display: block; box-sizing:border-box; background:#FFFFFF;}
    .list_main .list_area .info_main .txt_main .txt_zone{font-size: 17px; text-align: center; padding:6px 0 34px 0;}
    
    .swiper {width: 100%; height: calc(var(--frame-height) - 160px) ; flex-wrap: wrap;}
    .swiper-slide {display: flex; justify-content: center; align-items: flex-start; flex-wrap: wrap; }
    .swiper-slide .slide_box{width:1310px; margin:150px 0 100px; display:flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap;  row-gap: 60px; column-gap:70px; text-align: center; font-size: 18px;}
    .swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}
}
