@media screen and (min-width:1px) and (max-width:1500px){
    .list_main{position:absolute;z-index:35;width:var(--width);height:var(--height);box-sizing:border-box;}
    .list_main .list_area .img_main{position:absolute;width:var(--width);height:var(--height);}
    .notice_main{position:absolute;width:var(--width);overflow: hidden; height:var(--height);background:#000000;}
    .notice_main .bg{width:100%; height:100%;}
    .notice_main .bg img{width:100%; height:100%; object-fit: cover;}
    .list_main .list_area .screen_txt{position:absolute;bottom:50px;left:50%; transform:translateX(-50%); font-size: 28px;color:#FFFFFF;background:rgba(0,0,0,0.3);width:1000px;height:90px;border-radius:500px;z-index: 120000;display:flex;justify-content: center;align-items: center;}
    
    .sub_page_main{height:var(--frame-height);width:var(--width);}
    .sub_page_main .frame_info{height:var(--frame-height);width:var(--width);}
    
    .bottom_menu{position:absolute;width:var(--width); height:260px; background:#fff; box-sizing:border-box; z-index:10;}
    
    .bottom_title{position: absolute; bottom:0; left:0; right:0; z-index:10;}
    .bottom_title .location_bg{position: relative; width:100%; height:160px; background:url('../../images/pattern/pattern_pink.png') center no-repeat; margin-bottom:-2px; background-size: cover; transition:all 0.7s;}
    .bottom_title .location_bg .location{position: absolute; bottom:25px; left:50%; transform: translateX(-50%);}
    .bottom_title .location_bg .location h2{font-size:32px; font-family: 'Montserrat'; font-weight: 400;}
    
    .bottom_menu .bottom_t{display:flex; flex-wrap: wrap; align-items: center; padding:0 20px; margin:12px 0 21px 0;}
    .bottom_menu .bottom_t .bottom_btn_li {box-sizing:border-box; width:calc(100% / 9); height:157px; text-align: center;}
    .bottom_menu .bottom_t .bottom_btn_li img{margin:0;}
    .bottom_menu .bottom_t .bottom_btn_li .bottom_btn_text{height: calc(100% - 70px); display: flex; justify-content: center; align-items: center; font-size: 19px;font-weight: 500;}
    .bottom_menu .bottom_t .bottom_btn_li img:nth-child(2){display:none;}
    .bottom_menu .bottom_t .bottom_btn_li .bottom_btn{display:flex; flex-direction: column;  justify-content: center; align-items: center;  height:157px;box-sizing:border-box;background:#FFFFFF;}
    .bottom_menu .bottom_t .bottom_btn_li:not(:last-child) .bottom_btn{border-right:1px solid rgba(0, 0, 0, .3);}
    .bottom_menu .bottom_t .bottom_btn_li .bottom_btn.active .bottom_btn_ico{position: relative;}
    .bottom_menu .bottom_t .bottom_btn_li .bottom_btn.active .bottom_btn_ico::after{content: ''; display:inline-block; width:50%; height:5px; position: absolute; left:50%; transform: translateX(-50%); bottom:0; background: var(--data-color);}
    
    .bottom_menu .bottom_b{display:flex; justify-content: space-between; align-items: center; height:70px; padding:0 30px; background-color:#000;}
    
    .bottom_menu .bottom_b .bottom_time_zone {display:flex; flex-wrap: wrap; align-items: center; color:#fff; font-size:13px;}
    .bottom_menu .bottom_b .bottom_time_zone > div{width:100%;}
    .bottom_menu .bottom_b .bottom_time_zone > div .txt0 {display:inline-block; width:140px; margin: 0px 0 0 10px;}
    .bottom_menu .bottom_b .bottom_time_zone > div .time0 {display:inline-block; margin: 0px 30px 0 10px; color:#9E9E9E; font-weight:300;}
    .bottom_menu .bottom_b .lang_area{display:flex; align-items: center; gap:30px; padding:0; color:rgba(232, 232, 232, 0.6);}
    .bottom_menu .bottom_b .lang_area .lang_btn{margin:0 0 0 0;}
    .bottom_menu .bottom_b .lang_area .lang_btn:nth-child(3){margin:0 0 0 0;}
    .bottom_menu .bottom_b .lang_area .lang_btn .lang_txt{display:flex; justify-content:center; align-items: center; font-size: 18px; height:50px; font-weight: 300; box-sizing:border-box;}
    .bottom_menu .bottom_b .lang_area .lang_btn .lang_txt.active{color:#fff; position: relative;}
    .bottom_menu .bottom_b .lang_area .lang_btn .lang_txt.active::after{content: ''; display:inline-block; width:35px; height: 3px; background:#fff; position: absolute; left:50%; bottom:0; transform: translateX(-50%);}
    .bottom_menu .bottom_b .lang_area .lang_txt_area{display:inline-block; margin: 0; font-size:16px;}
    
    .popup_store{position: absolute;z-index: 120000;width:var(--width);height:var(--height);top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_store .popup_base{position:absolute;z-index:121000;background:rgba(255,255,255,1);margin:auto;top:50%;left:50%; transform: translate(-50%, -50%);}
    .popup_store .popup_base .popup_box{width:600px;height:1000px; display:flex; flex-direction: column; align-items: center;}
    .popup_store .popup_base .popup_box .img_box{display:inline-block;vertical-align:top; width:100%; height:50%; border-right: 1px solid #F2F1F6;}
    .popup_store .popup_base .popup_box .img_box .thumb{width:100%; height:100%;display:flex;justify-content:center;align-items: center;}
    .popup_store .popup_base .popup_box .img_box .thumb img{width:100%; height:100%; object-fit: cover;}
    .popup_store .popup_base .popup_box .img_box .lang_name_thumb{font-weight: 600;}
    .popup_store .popup_base .popup_box .txt_box{color:#414445; display:inline-block; width:100%; height:50%; box-sizing:border-box; padding:50px;}
    .popup_store .popup_base .popup_box .txt_box h2{font-size:32px; font-weight:bold; text-align: center; padding-bottom:25px; border-bottom:1px solid #9a9a9a;}
    .popup_store .popup_base .popup_box .txt_box ul{}
    .popup_store .popup_base .popup_box .txt_box ul li{display:flex; justify-content: space-between; align-items:center; padding:15px 25px;}
    .popup_store .popup_base .popup_box .txt_box ul li div:nth-child(1){font-size:14px; width:80px;}
    .popup_store .popup_base .popup_box .txt_box ul li div:nth-child(2){font-size:17px; width:calc(100% - 80px); display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
    .popup_store .popup_base .popup_box .txt_box ul li + li{border-top:1px solid #cbcbcb;}

    .lang_name_thumb{font-size: 30px;}
    
    .btn_close{position: absolute;top:calc(100% + 30px); right:0; width:60px;height:60px;display:flex;justify-content:center;align-items: center;}
    
    .popup_location_box{display:flex; align-items: center; justify-content: space-between; margin-top:40px;}
    .popup_location_box > button{display:flex; justify-content: center; align-items: center; width:calc(50% - 5px);height:65px;border:0;font-size:19px;background:#333;color:#FFFFFF;font-weight: 500;}
    .popup_location_box > button .way_img{margin-right:10px;}
    .popup_location_box > button .way_img img{width:50px;height:50px;}
    .popup_location_box > button .way_img img:nth-child(2){display:none;}
    .popup_location_box > button .way_txt{justify-content:center; align-items: center; font-size:18px;font-weight: 300;}
    .popup_location_box > button:active{background: #A41B26;color:#FFFFFF;}
    .popup_location_box > button:active .way_img img:nth-child(1){display:none;}
    .popup_location_box > button:active .way_img img:nth-child(2){display:inline-block;}
    
    .popup_store .popup_close_cover{position: absolute;width:var(--width);height:var(--height);top:0;left:0;background:rgba(0,0,0,0.0);}
    
    .popup_faci{position: absolute;z-index: 120000;width:var(--width);height:var(--height);top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_faci .popup_base{position:absolute;z-index:121000;background:rgba(255,255,255,1);margin:auto; top:50%; left:50%; transform: translate(-50%, -50%);}
    .popup_faci .popup_base .pop_fac_box{width:600px;height:1000px; display:flex; flex-direction: column; align-items: center;}
    .popup_faci .popup_base .pop_fac_box .img_box{display:inline-block;vertical-align:top; width:100%; height:50%; border-right: 1px solid #F2F1F6;}
    .popup_faci .popup_base .pop_fac_box .img_box img{width:100%; height:100%;}
    .popup_faci .popup_base .pop_fac_box .desc{color:#414445; display:flex; justify-content: center; align-items: center; flex-direction: column; width:100%; height:50%; box-sizing:border-box; padding:50px; text-align: center;}
    .popup_faci .popup_base .pop_fac_box .desc .title{font-size: 40px; font-weight: 500;}
    .popup_faci .popup_base .pop_fac_box .desc .right_floor{font-size: 50px;height: 100px;}
    .popup_faci .popup_base .pop_fac_box .desc .left{margin:0 0 0 0;font-size: 14px;}
    .popup_faci .popup_base .pop_fac_box .location{width:350px;height:70px;border:0;font-size:19px;background:#DC0012;color:#FFFFFF;font-weight: 500; margin:20px auto 0;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc{width:350px;height:70px; line-height: 70px; color:#FFFFFF;background:#333; }
    .popup_faci .popup_base .pop_fac_box .location .btn_loc img{width:50px;height:50px;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc .txt{display: inline-block; text-align:center; font-size:18px;font-weight: 500;}
    .popup_faci .popup_base .btn_close{width:60px;height:60px;display:flex;justify-content:center;align-items: center;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc img:nth-child(2){display:none;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc:active{background: #A41B26;color:#FFFFFF;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc:active img:nth-child(1){display:none;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc:active img:nth-child(2){display:inline-block;}
    
    .popup_nearby{position: absolute;z-index: 120000;width:var(--width);height:var(--height);top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_nearby .popup_base{position:absolute;z-index:121000;background:rgba(255,255,255,1);margin:auto;top:273px;left:376px;}
    .popup_nearby .popup_base .popup_box{width:1200px;height:500px; display:flex; align-items: center;}
    .popup_nearby .popup_base .popup_box .img_box{width:50%; height:100%; border-right: 1px solid #F2F1F6;}
    .popup_nearby .popup_base .popup_box .img_box .thumb{width:100%; height:100%;display:flex;justify-content:center;align-items: center;}
    .popup_nearby .popup_base .popup_box .img_box .thumb img{width:100%; height:100%; object-fit: cover;}
    .popup_nearby .popup_base .popup_box .img_box .lang_name_thumb{font-weight: 600;}
    .popup_nearby .popup_base .popup_box .txt_box{display:flex; justify-content: center; align-items: center; flex-direction: column; color:#414445; width:50%; height:100%; box-sizing:border-box; padding:50px;}
    .popup_nearby .popup_base .popup_box .txt_box h2{font-size:32px; font-weight:bold; text-align: center; padding-bottom:25px;}
    .popup_nearby .popup_base .popup_box .txt_box ul{width:100%;}
    .popup_nearby .popup_base .popup_box .txt_box ul li{display:flex; justify-content: space-between; align-items:center; padding:10px 25px;}
    .popup_nearby .popup_base .popup_box .txt_box ul li .nearby_fac{font-size:15px;}
    .popup_nearby .popup_base .popup_box .txt_box ul li .nearby_floor{font-size:27px; padding-left:15px;}
    .popup_nearby .popup_base .popup_box .txt_box ul li:nth-child(1){border-top:1px solid rgba(112, 112, 112, 1);}
    .popup_nearby .popup_base .popup_box .txt_box ul li:nth-child(2){padding:0 25px; height:140px; justify-content: center; border-bottom: 1px solid rgba(109, 109, 109, .2); box-sizing: border-box;}
    .popup_nearby .popup_base .popup_box .txt_box ul li:nth-child(1) div{}
    .popup_nearby .popup_base .popup_box .txt_box ul li:nth-child(2) div{font-size:17px; text-align: center;}
    .popup_nearby .popup_base .popup_box .txt_box ul li + li{border-top:1px solid #cbcbcb;}
    
    .popup_nearby .popup_location_box{display:flex; flex-wrap: wrap; align-items: center; justify-content: center; margin-top:20px;}
    .popup_nearby .popup_location_desc{width:100%; text-align: center; font-size: 17px; margin-bottom: 20px;}
    .popup_nearby .popup_location_box > button{display:flex; justify-content: center; align-items: center; flex:1; max-width:350px; height:65px;border:0;font-size:19px;background:#333;color:#FFFFFF;font-weight: 500;}
    .popup_nearby .popup_location_box > button .way_img{margin-right:10px;}
    .popup_nearby .popup_location_box > button .way_img img{width:50px;height:50px;}
    .popup_nearby .popup_location_box > button .way_img img:nth-child(2){display:none;}
    .popup_nearby .popup_location_box > button .way_txt{justify-content:center; align-items: center; font-size:18px;font-weight: 300;}
    .popup_nearby .popup_location_box > button:active{background: #A41B26;color:#FFFFFF;}
    .popup_nearby .popup_location_box > button:active .way_img img:nth-child(1){display:none;}
    .popup_nearby .popup_location_box > button:active .way_img img:nth-child(2){display:inline-block;}
    
    .popup_nearby .popup_close_cover{position: absolute;width:var(--width);height:var(--height);top:0;left:0;background:rgba(0,0,0,0.0);}
    
    .popup_way{position: absolute;z-index: 120000;width:var(--width);height:var(--height);top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_way .popup_base{position:absolute;z-index:121000;background:#FFFFFF;top:1px;left:1px;margin:auto;left:210px;top:700px;width:650px;height:300px;}
    .popup_way .popup_base .pop_waytype_box{display:flex; flex-wrap: wrap; justify-content: center; width: 650px;height: 300px; padding:60px 65px; box-sizing: border-box;}
    .popup_way .popup_base .pop_waytype_box > div:nth-child(2){display:flex; align-items: flex-end; justify-content: space-between; gap:20px;}
    .popup_way .popup_base .pop_waytype_box .title{font-size: 25px;text-align: center; color:#383839;line-height: 1.9;}
    .popup_way .popup_base .btn_close{position: absolute; top:320px;left:670px;}
    
    .popup_way .popup_base .pop_waytype_box button p{color:#fff; width:calc(100% - 70px);}
    .popup_way .popup_base .pop_waytype_box .btn_esc{width:250px; height:100px; display:flex; align-items: center; text-align: center;border:0;background:#333;font-size:20px;font-weight: 500; }
    .popup_way .popup_base .pop_waytype_box .btn_esc img:nth-child(1){display:block;}
    .popup_way .popup_base .pop_waytype_box .btn_esc img:nth-child(2){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_esc .active img:nth-child(1){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_esc .active img:nth-child(2){display:block;}
    .popup_way .popup_base .pop_waytype_box .btn_esc :active img:nth-child(1){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_esc :active img:nth-child(2){display:block;}
    
    .popup_way .popup_base .pop_waytype_box .btn_ele{width:250px; height:100px; display:flex; align-items: center; text-align: center;border:0;background:#333;font-size:20px;font-weight: 500;}
    .popup_way .popup_base .pop_waytype_box .btn_ele img:nth-child(1){display:block;}
    .popup_way .popup_base .pop_waytype_box .btn_ele img:nth-child(2){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_ele .active img:nth-child(1){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_ele .active img:nth-child(2){display:block;}
    .popup_way .popup_base .pop_waytype_box .btn_ele :active img:nth-child(1){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_ele :active img:nth-child(2){display:block;}
    
    .popup_nopark{position: absolute;z-index: 120000;width:var(--width);height:var(--height);top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_nopark .popup_base{position:absolute;z-index:121000;background:#FFFFFF;top:1px;left:1px;margin:auto;left:466px;top:273px;width:1000px;height:540px;}
    .popup_nopark .popup_base .pop_nopark_box{width: 1000px;height: 540px;}
    .popup_nopark .popup_base .pop_nopark_box .title{font-size: 33px;font-weight: 700; text-align: center;padding:75px 0 0 0;color:#414445;line-height: 1.9 ;}
    .popup_nopark .popup_base .pop_nopark_box .desc{font-size: 18px;font-weight: 500; text-align: center;padding:15px 0 0 0;color:#414445;line-height: 1.9 ;}
    .popup_nopark .popup_base .btn_close{position: absolute; top:480px;left:1000px;}
    
    .popup_nopark .popup_base .pop_nopark_box .btn_0{text-align: center;border:0;background:#DC0012;font-size:20px;font-weight: 400;width:200px; height:180px;color:#FFFFFF;margin: 20px 0 0 270px}
    .popup_nopark .popup_base .pop_nopark_box .btn_0 img{width:35px}
    .popup_nopark .popup_base .pop_nopark_box .btn_0 .btn_title{font-size: 20px;font-weight: 700;}
    .popup_nopark .popup_base .pop_nopark_box .btn_0 .btn_desc{font-size: 18px;font-weight: 400;}
    
    .popup_nopark .popup_base .pop_nopark_box .btn_1{text-align: center;border:0;background:#DC0012;font-size:20px;font-weight: 400; width:200px; height:180px;color:#FFFFFF;margin: 20px 0 0 50px}
    .popup_nopark .popup_base .pop_nopark_box .btn_1 img{width:35px}
    .popup_nopark .popup_base .pop_nopark_box .btn_1 .btn_title{font-size: 20px;font-weight: 700;}
    .popup_nopark .popup_base .pop_nopark_box .btn_1 .btn_desc{font-size: 18px;font-weight: 400;}
    
    .popup_main{position:absolute;z-index:120000;width:var(--width);height:var(--height);top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_main .popup_default{ position:absolute;z-index:121000;top:375px;left:52px;margin:auto;background:#FFFFFF;width:970px;height:1130px;}
    .popup_main .popup_default .btn_close{ position:absolute; top:1197px;left:458px; width:60px; height:60px; cursor:pointer; }
    .popup_main .popup_default .btn_close img{ width:100%;height:100%; }
}

@media screen and (min-width:1500px){
    .list_main{position:absolute;z-index:35;width:1920px;height:1080px;box-sizing:border-box;}
    .list_main .list_area .img_main{position:absolute;width:1920px;height:1080px;}
    .notice_main{position:absolute;width:1920px;overflow: hidden; height:1080px;background:#000000;}
    .notice_main .bg{width:100%; height:100%;}
    .notice_main .bg img{width:100%; height:100%;}
    
    .list_main .list_area .screen_txt{position:absolute;bottom:50px;left:50%; transform:translateX(-50%); font-size: 28px;color:#FFFFFF;background:rgba(0,0,0,0.3);width:1000px;height:90px;border-radius:500px;z-index: 120000;display:flex;justify-content: center;align-items: center;}
    
    .sub_page_main{height:940px;width:1920px;}
    .sub_page_main .frame_info{height:940px;width:1920px;}
    
    .bottom_menu{position:absolute;width:1920px; height:140px; background:#fff; box-sizing:border-box; z-index:10;}
    
    .bottom_title{position: absolute; bottom:0; left:0; right:0; z-index:10;}
    .bottom_title .location_bg{position: relative; width:100%; height:160px; 
        background:url('../../images/pattern/pattern_pink.png') center no-repeat;
        margin-bottom:-2px;
        background-size: cover;
        transition:all 0.7s;
    }
    .bottom_title .location_bg .location{position: absolute; bottom:30px; left:50%; transform: translateX(-50%);}
    .bottom_title .location_bg .location h2{font-size:28px; font-family: 'Montserrat'; font-weight: 400;}
    
    .bottom_menu .bottom_t{display:flex; flex-wrap: wrap; align-items: center; margin-bottom: 20px; padding:0 20px;}
    .bottom_menu .bottom_t .bottom_btn_li {box-sizing:border-box; width:calc(100% / 9); height:70px; text-align: center;}
    .bottom_menu .bottom_t .bottom_btn_li img{margin:0;}
    .bottom_menu .bottom_t .bottom_btn_li .bottom_btn_text{font-size: 19px;font-weight: 500; padding-left:10px;}
    .bottom_menu .bottom_t .bottom_btn_li img:nth-child(2){display:none;}
    .bottom_menu .bottom_t .bottom_btn_li .bottom_btn{display:flex; justify-content: center; align-items: center;  height:70px;box-sizing:border-box;background:#FFFFFF;}
    .bottom_menu .bottom_t .bottom_btn_li:not(:last-child) .bottom_btn{border-right:1px solid rgba(0, 0, 0, .3);}
    .bottom_menu .bottom_t .bottom_btn_li .bottom_btn.active .bottom_btn_ico{position: relative;}
    .bottom_menu .bottom_t .bottom_btn_li .bottom_btn.active .bottom_btn_ico::after{content: ''; display:inline-block; width:50%; height:5px; position: absolute; left:50%; transform: translateX(-50%); bottom:0; background: var(--data-color);}
    
    .bottom_menu .bottom_b{display:flex; justify-content: space-between; align-items: center; padding:0 30px; background-color:#000;}
    
    .bottom_menu .bottom_b .bottom_time_zone {display:flex; align-items: center; height:50px; color:#fff; font-size:13px;}
    .bottom_menu .bottom_b .bottom_time_zone .txt0 {display:inline-block ;margin: 0px 0 0 10px;}
    .bottom_menu .bottom_b .bottom_time_zone .time0 {display:inline-block; margin: 0px 30px 0 10px;}
    .bottom_menu .bottom_b .lang_area{display:flex; align-items: center; gap:30px; height:50px; padding:0; color:#E8E8E8;}
    .bottom_menu .bottom_b .lang_area .lang_btn{margin:0 0 0 0;}
    .bottom_menu .bottom_b .lang_area .lang_btn:nth-child(3){margin:0 0 0 0;}
    .bottom_menu .bottom_b .lang_area .lang_btn .lang_txt{display:flex; justify-content:center; align-items: center; font-size: 18px; font-weight: 300; box-sizing:border-box;}
    .bottom_menu .bottom_b .lang_area .lang_btn .lang_txt:active{border-bottom:3px solid white;}
    .bottom_menu .bottom_b .lang_area .lang_txt_area{display:inline-block; margin: 0; font-size:16px;}
    
    .popup_store{position: absolute;z-index: 120000;width:1920px;height:1080px;top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_store .popup_base{position:absolute;z-index:121000;background:rgba(255,255,255,1);margin:auto;top:273px;left:376px;}
    .popup_store .popup_base .popup_box{width:1200px;height:500px; display:flex; align-items: center;}
    .popup_store .popup_base .popup_box .img_box{display:inline-block;vertical-align:top; width:50%; height:100%; border-right: 1px solid #F2F1F6;}
    .popup_store .popup_base .popup_box .img_box .thumb{width:100%; height:100%;display:flex;justify-content:center;align-items: center;}
    .popup_store .popup_base .popup_box .img_box .thumb img{width:100%; height:100%; object-fit: cover;}
    .popup_store .popup_base .popup_box .img_box .lang_name_thumb{font-weight: 600;}
    .popup_store .popup_base .popup_box .txt_box{color:#414445; display:inline-block; width:50%; height:100%; box-sizing:border-box; padding:50px;}
    .popup_store .popup_base .popup_box .txt_box h2{font-size:32px; font-weight:bold; text-align: center; padding-bottom:25px; border-bottom:1px solid #9a9a9a;}
    .popup_store .popup_base .popup_box .txt_box ul{}
    .popup_store .popup_base .popup_box .txt_box ul li{display:flex; justify-content: space-between; align-items:center; padding:15px 25px;}
    .popup_store .popup_base .popup_box .txt_box ul li div:nth-child(1){font-size:14px; width:80px;}
    .popup_store .popup_base .popup_box .txt_box ul li div:nth-child(2){font-size:17px; width:calc(100% - 80px); display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
    .popup_store .popup_base .popup_box .txt_box ul li + li{border-top:1px solid #cbcbcb;}
    
    .lang_name_thumb{font-size: 30px;}
    
    .btn_close{position: absolute;top:445px;left:1230px; width:60px;height:60px;display:flex;justify-content:center;align-items: center;}
    
    .popup_location_box{display:flex; align-items: center; justify-content: space-between; margin-top:40px;}
    .popup_location_box > button{display:flex; justify-content: center; align-items: center; width:calc(50% - 5px);height:65px;border:0;font-size:19px;background:#333;color:#FFFFFF;font-weight: 500;}
    .popup_location_box > button .way_img{margin-right:10px;}
    .popup_location_box > button .way_img img{width:50px;height:50px;}
    .popup_location_box > button .way_img img:nth-child(2){display:none;}
    .popup_location_box > button .way_txt{justify-content:center; align-items: center; font-size:18px;font-weight: 300;}
    .popup_location_box > button:active{background: #A41B26;color:#FFFFFF;}
    .popup_location_box > button:active .way_img img:nth-child(1){display:none;}
    .popup_location_box > button:active .way_img img:nth-child(2){display:inline-block;}
    
    .popup_store .popup_close_cover{position: absolute;width:1080px;height:1920px;top:0;left:0;background:rgba(0,0,0,0.0);}
    
    .popup_faci{position: absolute;z-index: 120000;width:1920px;height:1080px;top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_faci .popup_base{position:absolute;z-index:121000;background:rgba(255,255,255,1);margin:auto; top:50%; left:50%; transform: translate(-50%, -50%);}
    .popup_faci .popup_base .pop_fac_box{width:1200px;height:500px; display:flex; align-items: center;}
    .popup_faci .popup_base .pop_fac_box .img_box{display:inline-block;vertical-align:top; width:50%; height:100%; border-right: 1px solid #F2F1F6;}
    .popup_faci .popup_base .pop_fac_box .img_box img{width:100%; height:100%;}
    .popup_faci .popup_base .pop_fac_box .desc{color:#414445; display:flex; justify-content: center; align-items: center; flex-direction: column; width:50%; height:100%; box-sizing:border-box; padding:50px; text-align: center;}
    .popup_faci .popup_base .pop_fac_box .desc .title{font-size: 40px; font-weight: 500;}
    .popup_faci .popup_base .pop_fac_box .desc .right_floor{font-size: 50px;height: 100px;}
    .popup_faci .popup_base .pop_fac_box .desc .left{margin:0 0 0 0;font-size: 14px;}
    .popup_faci .popup_base .pop_fac_box .location{width:350px;height:70px;border:0;font-size:19px;background:#DC0012;color:#FFFFFF;font-weight: 500; margin:20px auto 0;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc{width:350px;height:70px; line-height: 70px; color:#FFFFFF;background:#333; }
    .popup_faci .popup_base .pop_fac_box .location .btn_loc img{width:50px;height:50px;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc .txt{display: inline-block; text-align:center; font-size:18px;font-weight: 500;}
    .popup_faci .popup_base .btn_close{width:60px;height:60px;display:flex;justify-content:center;align-items: center;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc img:nth-child(2){display:none;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc:active{background: #A41B26;color:#FFFFFF;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc:active img:nth-child(1){display:none;}
    .popup_faci .popup_base .pop_fac_box .location .btn_loc:active img:nth-child(2){display:inline-block;}
    
    .popup_nearby{position: absolute;z-index: 120000;width:1920px;height:1080px;top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_nearby .popup_base{position:absolute;z-index:121000;background:rgba(255,255,255,1);margin:auto;top:273px;left:376px;}
    .popup_nearby .popup_base .popup_box{width:1200px;height:500px; display:flex; align-items: center;}
    .popup_nearby .popup_base .popup_box .img_box{width:50%; height:100%; border-right: 1px solid #F2F1F6;}
    .popup_nearby .popup_base .popup_box .img_box .thumb{width:100%; height:100%;display:flex;justify-content:center;align-items: center;}
    .popup_nearby .popup_base .popup_box .img_box .thumb img{width:100%; height:100%; object-fit: cover;}
    .popup_nearby .popup_base .popup_box .img_box .lang_name_thumb{font-weight: 600;}
    .popup_nearby .popup_base .popup_box .txt_box{display:flex; justify-content: center; align-items: center; flex-direction: column; color:#414445; width:50%; height:100%; box-sizing:border-box; padding:50px;}
    .popup_nearby .popup_base .popup_box .txt_box h2{font-size:32px; font-weight:bold; text-align: center; padding-bottom:25px;}
    .popup_nearby .popup_base .popup_box .txt_box ul{width:100%;}
    .popup_nearby .popup_base .popup_box .txt_box ul li{display:flex; justify-content: space-between; align-items:center; padding:10px 25px;}
    .popup_nearby .popup_base .popup_box .txt_box ul li .nearby_fac{font-size:15px;}.popup_nearby .popup_location_box
    .popup_nearby .popup_base .popup_box .txt_box ul li .nearby_floor{font-size:27px; padding-left:15px;}
    .popup_nearby .popup_base .popup_box .txt_box ul li:nth-child(1){border-top:1px solid rgba(112, 112, 112, 1);}
    .popup_nearby .popup_base .popup_box .txt_box ul li:nth-child(2){padding:0 25px; height:140px; justify-content: center; border-bottom: 1px solid rgba(109, 109, 109, .2); box-sizing: border-box;}
    .popup_nearby .popup_base .popup_box .txt_box ul li:nth-child(1) div{}
    .popup_nearby .popup_base .popup_box .txt_box ul li:nth-child(2) div{font-size:17px; text-align: center;}
    .popup_nearby .popup_base .popup_box .txt_box ul li + li{border-top:1px solid #cbcbcb;}
    
    .popup_nearby .popup_location_box{display:flex; width:100%; flex-wrap: wrap; align-items: center; justify-content: space-between; margin-top:0;}
    .popup_nearby .popup_location_desc{width:100%; text-align: center; font-size: 17px; margin-bottom: 20px; margin-top:20px;}
    .popup_nearby .popup_location_box > button{display:flex; justify-content: center; align-items: center; max-width:350px; height:65px; border:0;font-size:19px;background:#333;color:#FFFFFF;font-weight: 500;}
    .popup_nearby .popup_location_box > button .way_img{margin-right:10px;}
    .popup_nearby .popup_location_box > button .way_img img{width:50px;height:50px;}
    .popup_nearby .popup_location_box > button .way_txt{justify-content:center; align-items: center; font-size:18px;font-weight: 300;}
    .popup_nearby .popup_location_box > button:active{background: #A41B26;color:#FFFFFF;}
    
    .popup_nearby .popup_close_cover{position: absolute;width:1080px;height:1920px;top:0;left:0;background:rgba(0,0,0,0.0);}
    
    .popup_way{position: absolute;z-index: 120000;width:1920px;height:1080px;top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_way .popup_base{position:absolute;z-index:121000;background:#FFFFFF;top:1px;left:1px;margin:auto;left:635px;top:336px;width:650px;height:300px;}
    .popup_way .popup_base .pop_waytype_box{display:flex; flex-wrap: wrap; justify-content: center; width: 650px;height: 300px; padding:60px 65px; box-sizing: border-box;}
    .popup_way .popup_base .pop_waytype_box > div:nth-child(2){display:flex; align-items: flex-end; justify-content: space-between; gap:20px;}
    .popup_way .popup_base .pop_waytype_box .title{font-size: 25px;text-align: center; color:#383839;line-height: 1.9;}
    .popup_way .popup_base .btn_close{position: absolute; top:320px;left:670px;}
    
    .popup_way .popup_base .pop_waytype_box button p{color:#fff; width:calc(100% - 70px);}
    .popup_way .popup_base .pop_waytype_box .btn_esc{width:250px; height:100px; display:flex; align-items: center; text-align: center;border:0;background:#333;font-size:20px;font-weight: 500; }
    .popup_way .popup_base .pop_waytype_box .btn_esc img:nth-child(1){display:block;}
    .popup_way .popup_base .pop_waytype_box .btn_esc img:nth-child(2){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_esc .active img:nth-child(1){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_esc .active img:nth-child(2){display:block;}
    .popup_way .popup_base .pop_waytype_box .btn_esc :active img:nth-child(1){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_esc :active img:nth-child(2){display:block;}
    
    .popup_way .popup_base .pop_waytype_box .btn_ele{width:250px; height:100px; display:flex; align-items: center; text-align: center;border:0;background:#333;font-size:20px;font-weight: 500;}
    .popup_way .popup_base .pop_waytype_box .btn_ele img:nth-child(1){display:block;}
    .popup_way .popup_base .pop_waytype_box .btn_ele img:nth-child(2){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_ele .active img:nth-child(1){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_ele .active img:nth-child(2){display:block;}
    .popup_way .popup_base .pop_waytype_box .btn_ele :active img:nth-child(1){display:none;}
    .popup_way .popup_base .pop_waytype_box .btn_ele :active img:nth-child(2){display:block;}
    
    .popup_nopark{position: absolute;z-index: 120000;width:1920px;height:1080px;top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_nopark .popup_base{position:absolute;z-index:121000;background:#FFFFFF;top:1px;left:1px;margin:auto;left:466px;top:273px;width:1000px;height:540px;}
    .popup_nopark .popup_base .pop_nopark_box{width: 1000px;height: 540px;}
    .popup_nopark .popup_base .pop_nopark_box .title{font-size: 33px;font-weight: 700; text-align: center;padding:75px 0 0 0;color:#414445;line-height: 1.9 ;}
    .popup_nopark .popup_base .pop_nopark_box .desc{font-size: 18px;font-weight: 500; text-align: center;padding:15px 0 0 0;color:#414445;line-height: 1.9 ;}
    .popup_nopark .popup_base .btn_close{position: absolute; top:480px;left:1000px;}
    
    .popup_nopark .popup_base .pop_nopark_box .btn_0{text-align: center;border:0;background:#DC0012;font-size:20px;font-weight: 400;width:200px; height:180px;color:#FFFFFF;margin: 20px 0 0 270px}
    .popup_nopark .popup_base .pop_nopark_box .btn_0 img{width:35px}
    .popup_nopark .popup_base .pop_nopark_box .btn_0 .btn_title{font-size: 20px;font-weight: 700;}
    .popup_nopark .popup_base .pop_nopark_box .btn_0 .btn_desc{font-size: 18px;font-weight: 400;}
    
    .popup_nopark .popup_base .pop_nopark_box .btn_1{text-align: center;border:0;background:#DC0012;font-size:20px;font-weight: 400; width:200px; height:180px;color:#FFFFFF;margin: 20px 0 0 50px}
    .popup_nopark .popup_base .pop_nopark_box .btn_1 img{width:35px}
    .popup_nopark .popup_base .pop_nopark_box .btn_1 .btn_title{font-size: 20px;font-weight: 700;}
    .popup_nopark .popup_base .pop_nopark_box .btn_1 .btn_desc{font-size: 18px;font-weight: 400;}
    
    .popup_main{position:absolute;z-index:120000;width:1080px;height:1920px;top:0;left:0;background:rgba(0,0,0,0.7);}
    .popup_main .popup_default{ position:absolute;z-index:121000;top:375px;left:52px;margin:auto;background:#FFFFFF;width:970px;height:1130px;}
    .popup_main .popup_default .btn_close{ position:absolute; top:1197px;left:458px; width:60px; height:60px; cursor:pointer; }
    .popup_main .popup_default .btn_close img{ width:100%;height:100%;}
}
